@{
    ViewBag.Title = "Khóa Học";
    ViewBag.KhoaHoc = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<DayHocTrucTuyen.Models.Entities.LopHoc>

<!-- Banner -->
<div class="breadcrumbs">
    <div class="container">
        <h2>Khóa Học Phổ Biến</h2>
        <p>Bạn không biết nên tham gia lớp học nào? Đừng lo lắng, chúng tôi xin giới thiệu đến bạn một số lớp học được mọi người yêu thích. Dữ liệu này được phân tích từ lịch sử tương tác trên toàn hệ thống, đảm bảo bạn sẽ tìm được lớp học bạn ưng ý từ các lớp bên dưới. Nếu bạn chưa đăng nhập thì hãy đăng nhập ngay nhé, dữ liệu sẽ chính xác hơn khi có có lịch sử tương tác của bạn.</p>
    </div>
</div>

<!-- Search -->
<div class="title-block search-room autocomplete">
    <form autocomplete="off" id="form-search-room">
        <input class="search-input" autocomplete="off" id="mySearchCourses" name="mySearchCourses" type="text" placeholder="Nhập tên lớp..." value="@ViewBag.Search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<!-- Main -->
<section id="courses" class="courses">
    <div class="container" data-aos="fade-up">
        <div class="row">
            @foreach (var room in Model)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" style="padding-bottom: 20px" data-aos="zoom-in" data-aos-delay="100">
                    <a href="~/Courses/Room/Detail/@room.MaLop">
                        <div class="course-item">
                            <img src="@room.getImage()" class="img-fluid" alt="" />
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    @foreach (var t in room.getTag())
                                    {
                                        <h4>@t.TenTag</h4>
                                    }
                                </div>
                                <h3><a href="~/Courses/Room/Detail/@room.MaLop">@room.TenLop</a></h3>
                                @if (room.MoTa == null)
                                {
                                    <p>Lớp chưa có thông tin mô tả !</p>
                                }
                                else
                                {
                                    <p>@room.MoTa</p>
                                }
                                <div class="trainer d-flex justify-content-between align-items-center">
                                    <div class="trainer-profile d-flex align-items-center">
                                        <img width="40" height="40" src="@room.getOwner().getImageAvt()" class="img-fluid" alt="" />
                                        <a href="~/Profile/Info/@room.getOwner().MaNd" data-toggle="tooltip" title="@room.getOwner().HoLot @room.getOwner().Ten">@room.getOwner().Ten</a>
                                    </div>
                                    <div class="trainer-rank d-flex align-items-center">
                                        <i class="bx bx-user"></i> &nbsp;@room.getMembers()
                                        &nbsp;&nbsp;
                                        <i class="bx bx-heart"></i>&nbsp;@room.getSLCamXuc()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>

@section ChildScript{
    <!-- Xử lý đề xuất tìm kiếm lớp học-->
    <script src="~/Template/js/search-room.js" asp-append-version="true"></script>
}