@{
    ViewBag.Title = "Trung tâm cá nhân";
    ViewBag.Main = "Trung tâm cá nhân";
    Layout = "~/Views/Shared/_LayoutArea.cshtml";
}

@using DayHocTrucTuyen.Models.Entities
@model NguoiDung

<section>
    <div class="gap2 gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="user-profile">
                            <figure>
                                <img src="@Model.getImageBG()" alt="" />
                            </figure>
                            <div class="profile-section">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="profile-author">
                                            <div class="profile-author-thumb">
                                                <img alt="@Model.getFullName()" src="@Model.getImageAvt()" />
                                            </div>
                                            <div class="author-content">
                                                <div class="h4 author-name">@Model.getFullName()</div>
                                                <div class="user_job">@Model.getTenLoai()</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Pitpoint list-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- nội dung chính -->
