@{
    ViewBag.Title = "Trung tâm cá nhân";
    ViewBag.Main = "Trung tâm cá nhân";
    Layout = "~/Views/Shared/_LayoutArea.cshtml";
}

@using DayHocTrucTuyen.Models.Entities
@model NguoiDung

<section>
    <div class="gap2 gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="user-profile">
                            <figure>
                                <div>
                                    <img src="@Model.getImageBG()" alt="" />
                                </div>
                                <ul class="profile-controls">
                                    <li><a href="javascript:void(0)" class="choose-pay" title="Nạp tiền" data-toggle="tooltip"><i class="fa fa-dollar"></i></a></li>
                                </ul>
                                @if (!Model.isUpgrade())
                                {
                                    <ol class="pit-rate">
                                        <li><a href="~/Account/Upgrade" title="" class="main-btn" data-ripple="">Nâng cấp tài khoản</a></li>
                                    </ol>
                                }
                            </figure>
                            <div class="profile-section">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="profile-author">
                                            <div class="profile-author-thumb">
                                                <img alt="@Model.getFullName()" src="@Model.getImageAvt()" />
                                            </div>
                                            <div class="author-content">
                                                <div class="h4 author-name">@Model.getFullName()</div>
                                                <div class="user_job">@Model.getTenLoai()</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9">
                                        <ul class="profile-menu"></ul>
                                        <ol class="folw-detail">
                                            <li><span>Số dư ví</span><ins>@Model.getSoDu()</ins></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            @if (Model.hasPheDuyet())
                            {
                                if (Model.disPheDuyet())
                                {
                                    <div class="state-teacher">
                                        <div class="alert alert-warning inline-block">
                                            Yêu cầu nâng cấp lên giáo viên của bạn bị từ chối.
                                            <button class="custom-btn view-reason">Xem chi tiết</button>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="state-teacher">
                                        <div class="alert alert-info">
                                            Yêu cầu nâng cấp lên giáo viên của bạn đang chờ được xét duyệt. Vui lòng đợi.
                                        </div>
                                    </div>
                                }
                            }
                            @if(Model.MaLoai == "03" && !Model.hasPheDuyet())
                            {
                                <div class="state-teacher">
                                    <div class="central-meta">
                                        <div class="title-block">
                                            <div class="row">
                                                <div class="w-100 text-right">
                                                    <button class="custom-btn" onclick="getRegisTeacher()">Đăng ký giáo viên</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="central-meta">
                                <h5 class="f-title"><i class="fa fa-line-chart"></i>Statistics <span class="more-options"><i class="fa fa-ellipsis-h"></i></span></h5>
                                <div class="insight-box">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Line Graph</h2>
                                            <div id="echart_line"></div>
                                        </div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Line Graph</h2>
                                        </div>
                                        <ul class="toolbox">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#">Settings 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Settings 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="close-link"><i class="fa fa-close"></i></a>
                                            </li>
                                        </ul>
                                        <div class="x_content">
                                            <div id="main"></div>
                                        </div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Bar Graph</h2>
                                            <ul class="toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="#">Settings 1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Settings 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="x_content">

                                            <div id="mainb"></div>

                                        </div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Mini Pie</h2>
                                            <ul class="toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="#">Settings 1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Settings 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="x_content">

                                            <div id="echart_mini_pie"></div>

                                        </div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Pie Graph</h2>
                                            <ul class="toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="#">Settings 1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Settings 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="x_content">

                                            <div id="echart_pie"></div>

                                        </div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Pie Area</h2>
                                            <ul class="toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="#">Settings 1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Settings 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="x_content">

                                            <div id="echart_pie2"></div>

                                        </div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Donut Graph</h2>
                                            <ul class="toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="#">Settings 1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Settings 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="x_content">

                                            <div id="echart_donut"></div>

                                        </div>
                                    </div>

                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Horizontal Bar</h2>
                                            <ul class="toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="#">Settings 1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Settings 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="x_content">

                                            <div id="echart_bar_horizontal"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Menu right-->
                        @await Html.PartialAsync("~/Views/Shared/Menu/_ViewLike.cshtml", Model)

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Choose pay -->
<div class="popup-wraper4">
    <div class="popup choose-pay">
        <span class="popup-closed"><i class="ti-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head">
                <h5>Chọn mệnh giá nạp <i title="Trợ giúp" id="get-help" class="fa fa-question-circle active" style="cursor: pointer"></i></h5>
            </div>
            <div class="dropdowns helps popup-get-help">
                <span>Làm sao để nạp tiền?</span>
                <ul class="help-drop">
                    <li>Bạn cần chọn mệnh giá mà bạn muốn nạp vào tài khoản.</li>
                    <li>Sau đó tiến hành nhấn nạp tiền và thực hiện các thao tác quét mã QR để xác thực.</li>
                    <li>Xác thực thành công thì bạn chờ 5 đến 10 giây tiền sẽ về tài khoản của bạn.</li>
                </ul>
            </div>
            <div class="upload-boxes">
                <form id="form-pay" method="post">
                    <div class="form-radio">
                        <div class="radio">
                            <input class="rdo-pay" id="pay-1" type="radio" name="pay" checked="checked" value="10000">
                            <label class="custom-radio-lbl" for="pay-1">10.000 VNĐ</label>
                        </div>
                        <div class="radio">
                            <input class="rdo-pay" id="pay-2" type="radio" name="pay" value="20000">
                            <label class="custom-radio-lbl" for="pay-2">20.000 VNĐ</label>
                        </div>
                        <div class="radio">
                            <input class="rdo-pay" id="pay-3" type="radio" name="pay" value="30000">
                            <label class="custom-radio-lbl" for="pay-3">30.000 VNĐ</label>
                        </div>
                        <div class="radio">
                            <input class="rdo-pay" id="pay-4" type="radio" name="pay" value="50000">
                            <label class="custom-radio-lbl" for="pay-4">50.000 VNĐ</label>
                        </div>
                        <div class="radio">
                            <input class="rdo-pay" id="pay-5" type="radio" name="pay" value="100000">
                            <label class="custom-radio-lbl" for="pay-5">100.000 VNĐ</label>
                        </div>
                        <div class="radio">
                            <input class="rdo-pay" id="pay-6" type="radio" name="pay" value="200000">
                            <label class="custom-radio-lbl" for="pay-6">200.000 VNĐ</label>
                        </div>
                        <div class="radio">
                            <input class="rdo-pay" id="pay-7" type="radio" name="pay" value="300000">
                            <label class="custom-radio-lbl" for="pay-7">300.000 VNĐ</label>
                        </div>
                        <div class="radio">
                            <input class="rdo-pay" id="pay-8" type="radio" name="pay" value="500000">
                            <label class="custom-radio-lbl" for="pay-8">500.000 VNĐ</label>
                        </div>
                    </div>
                    <button type="submit" class="main-btn">Nạp tiền</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- popup check đăng ký giáo viên -->
<div class="popup-wraper1">
    <div class="popup direct-mesg">
        <span class="popup-closed"><i class="ti-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head">
                <h5 id="check-teacher-title">Tiêu đề cảnh báo</h5>
            </div>
            <div class="Rpt-meta">
                <form class="c-form">
                    <div style="text-align:justify">
                        <p id="check-teacher-content">Nội dung cảnh báo</p>
                    </div>
                    <div class="checkbox teacher-rules">
                        <label class="custom-rules">
                            <input type="checkbox" id="accept-rules"><i class="check-box"></i>Tôi đã đọc và đồng ý tất cả điều khoản trên.
                        </label>
                    </div>
                    <div>
                        <button id="confirm-teacher" data-ripple="" type="submit" class="btn btn-outline-success my-btn">Gửi</button>
                        <a id="cancel-teacher" data-ripple="" class="btn btn-outline-dark my-btn cancel">Đóng</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Statistics{
    <script src="~/Template/js/echarts.min.js" asp-append-version="true"></script>
    <script src="~/Template/js/custom-statistic.js" asp-append-version="true"></script>
}